.card {
  border: 1px solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 350px;
}

.card span{
  padding-left: 6px;
}

.produtos-lista{
  display: grid;
  list-style: none;
  grid-auto-flow: column;
  justify-content: start;
  gap: 20px;
  padding: 20px;
}

.produtos-lista li{
  overflow: visible;
}

.img-div{
  align-items: center;
  border: 1px solid;
  height: 220px;
  width: 300px;
}

.add-carr-btn{
  width: max-content;
  padding-inline: 24px;
  padding-block: 7px;
  margin-inline: auto;
  background-color: #000;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

